In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('data/drug.csv')
df.head(15)

    Age Sex      BP Cholesterol  Na_to_K   Drug
0    23   F    HIGH        HIGH   25.355  DrugY
1    47   M     LOW        HIGH   13.093  drugC
2    47   M     LOW        HIGH   10.114  drugC
3    28   F  NORMAL        HIGH    7.798  drugX
4    61   F     LOW        HIGH   18.043  DrugY
5    22   F  NORMAL        HIGH    8.607  drugX
6    49   F  NORMAL        HIGH   16.275  DrugY
7    41   M     LOW        HIGH   11.037  drugC
8    60   M  NORMAL        HIGH   15.171  DrugY
9    43   M     LOW      NORMAL   19.368  DrugY
10   47   F     LOW        HIGH   11.767  drugC
11   34   F    HIGH      NORMAL   19.199  DrugY
12   43   M     LOW        HIGH   15.376  DrugY
13   74   F     LOW        HIGH   20.942  DrugY
14   50   F  NORMAL        HIGH   12.703  drugX

In [5]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
from sklearn.preprocessing import LabelEncoder

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
df.Drug.unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [ ]:
df['Drug'] = df[['Drug']].apply(LabelEncoder().fit_transform)
df.head(20)

NameError: name 'df' is not defined

In [ ]:
df[['Sex','BP','Cholesterol']] = df[['Sex','BP','Cholesterol']].apply(LabelEncoder().fit_transform)
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0   25.355     0
1   47    1   1            0   13.093     3
2   47    1   1            0   10.114     3
3   28    0   2            0    7.798     4
4   61    0   1            0   18.043     0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Chosing target feature
target = "Drug"

# Splitting data into X and y
X = df.drop(columns=[target])
y = df[target]

# Printing 5 rows of X
X.head()

   Age  Sex  BP  Cholesterol  Na_to_K
0   23    0   0            0   25.355
1   47    1   1            0   13.093
2   47    1   1            0   10.114
3   28    0   2            0    7.798
4   61    0   1            0   18.043

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=11)

In [ ]:
print("train shape:", X_train.shape, "test shape:", X_test.shape)

train shape: (180, 5) test shape: (20, 5)

In [ ]:
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0   25.355     0
1   47    1   1            0   13.093     3
2   47    1   1            0   10.114     3
3   28    0   2            0    7.798     4
4   61    0   1            0   18.043     0

In [ ]:
X_train.head()

    Age  Sex  BP  Cholesterol  Na_to_K
2    47    1   1            0   10.114
46   37    0   0            0   13.091
86   51    0   2            0   13.597
88   37    0   0            1   23.091
61   24    1   0            1    9.475

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
model = RandomForestClassifier(n_estimators=30,n_jobs=-1, max_features=5, random_state=17).fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([1, 0, 0, 2, 0, 0, 0, 2, 0, 0, 3, 0, 0, 2, 4, 4, 4, 0, 4, 0])

In [ ]:
from sklearn.metrics import f1_score
f1score = f1_score(y_test, y_pred, average='weighted')
print(model, "=", f1score)

RandomForestClassifier(max_features=5, n_estimators=30, n_jobs=-1,
                       random_state=17) = 1.0

In [ ]:
report  =  classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00         1
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         1
           4       1.00      1.00      1.00         4

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

In [ ]:
test = X_test.iloc[15]

In [ ]:
d = model.predict([test])

E:\Minhaz Siraji\Software file\Anaconda setup\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:
print(d)

[4]

In [ ]:
d = model.predict([X_test.iloc[10]])
d

E:\Minhaz Siraji\Software file\Anaconda setup\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([3])

In [ ]:
new = [47,1,1,0,10.114]

In [ ]:
d = model.predict([new])
print(d)

[3]

E:\Minhaz Siraji\Software file\Anaconda setup\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:
# !pip install joblib

In [ ]:
from joblib import dump
dump(model,'drugs_model.joblib')

['drugs_model.joblib']